html,body{
    margin:0px;
    padding:0px;
    background-color:#CEBF75;
    color:#2E4057;
    font-family: monospace;
}
nav{
    background-color: #64F58D;
    float:left;
    height:100%;
    position: fixed;
}
nav a{
    width:80px;
    display:block;
    text-align:center;
    padding:20px;
    padding-top:10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
}
nav a:hover{
    background-color:#9DFFF9;
}
h1{
    padding:20px;
    font-size: 75px;
    text-align:center;
    background-color:#9DFFF9;
    margin:0px;
    font-family:serif;
}
h2{
    text-align:center;
}
p{
    overflow:auto;
}
.content{
    margin-left:120px;
}
.internalContent{
    margin:10px;
    font-size: 20px;
}
.moreStuff{
    float:left;
    width:100%;
    display:block;
    height:auto;
}
.floatLeft{
    float:left;
    margin-right:15px;
}
.floatRight{
    float:right;
    margin-left: 15px;
}
#current{
    background-color:#8D80AD;
    color:#9DFFF9;
}
#random:hover{
    background-image: url(https://www.w3schools.com/w3css/img_lights.jpg);
}
#bleh:hover{
    background-image: url(https://i.pinimg.com/originals/da/b2/d4/dab2d405730473923d33a32e814950cd.jpg);
}
@media only screen and (max-width: 800px){
    nav{
        height: auto;
        width:100%;
        top:0px;
    }
    nav a{
        display: block;
        width: 100%;
    }
    h1{
        margin-top: 135px;
    }
    .content{
        margin-left: 0px;
    }
}